{% extends 'index.html' %}

{% block title %}Visits | HotZone{% endblock %}

{% block index_header %}Visits @ {{ case }}
 <a href="{% url 'records:cases' %}" style="color:red;font-size:20px"><i class="fa fa-backward" aria-hidden="true"></i>&nbspBack</a>{% endblock %}

{% block index_content %}

<h3>Total Visits: <span style="color:red;">{{ visit_list.all | length }}</span></h3>

<br>

<div class="data-filter">
	<form method="get">
	    <div>
			<span>Date From (YYYY-MM-DD): </span><input type="text" name="qdatefr">
		</div>
		<div>
			<span>Date To (YYYY-MM-DD): </span><input type="text" name="qdateto">
		</div>
		<input type="submit" value="Search">
	</form>
	<p>*Hint: Search (Except the date-related ones) work only when its content match the attribute value exactly. Extra Spaces at the beginnning or end are allowed.<br>
	*Hint: 'Date From' and 'Date To' searches for visits that contain th target date period, i.e., if '2020-11-1' is specified as 'Date From' and '2020-11-9' is specified as 'Date From', a visit from 2020-10:30 to 2020-11-10 can be returned.</p>
</div>

<br>

<table class="table text-center">
	<thead>
		<tr>
			<th>Location</th>
			<th>Date From</th>
			<th>Date To</th>
			<th>Category</th>
			<th>Operations</th>
		</tr>
	</thead>

	<tbody>
		{% for visit in visit_list %}
		<tr>
			<td>{{ visit.location }}</td>
			<td>{{ visit.dateFrom }}</td>
			<td>{{ visit.dateTo }}</td>
			<td>{{ visit.category }}</td>
			<td>
				<a href="{% url 'records:visit-edit' visit.pk %}">Edit&nbsp<i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
				&nbsp|&nbsp
				<a href="{% url 'records:visit-delete' visit.pk %}">Delete&nbsp<i class="fa fa-times" aria-hidden="true"></i></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block new_record_url %}{% url 'records:visit-new' case.pk %}{% endblock %}