[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=3.1.2"
psycopg2-binary = "*"
django-bootstrap4 = "*"
django-widget-tweaks = "*"
requests = "*"
gunicorn = "*"
whitenoise = "*"
environs = {extras = ["django"], version = "*"}
django-environ = "*"

[requires]
python_version = "3.8"
