{% extends 'index.html' %}

{% load widget_tweaks %}

{% block title %}New Cluster | HotZone{% endblock %}

{% block index_header %}New Cluster{% endblock %}

{% block index_content %}
<form method="GET">
	<div class="form-input">
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <span class="input-group-text"><i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp&nbsp{{ form.distanceThres.label }}</span>
	    </div>
	  	{{ form.distanceThres | add_class:"form-control" }}
	  </div>
	  {% if form.distanceThres.errors %}
	  <div class="form-input-errors">
	      {% for msg in form.distanceThres.errors %}
	      <i>* {{ msg }} </i>
	      {% endfor %}
	  </div>
	  {% endif %}
	</div>

	<div class="form-input">
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <span class="input-group-text"><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp&nbsp{{ form.timeThres.label }}</span>
	    </div>
	  	{{ form.timeThres | add_class:"form-control" }}
	  </div>
	  {% if form.timeThres.errors %}
	  <div class="form-input-errors">
	      {% for msg in form.timeThres.errors %}
	      <i>* {{ msg }} </i>
	      {% endfor %}
	  </div>
	  {% endif %}
	</div>

	<div class="form-input">
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <span class="input-group-text"><i class="fa fa-object-group" aria-hidden="true"></i>&nbsp&nbsp{{ form.minSize.label }}</span>
	    </div>
	  	{{ form.minSize | add_class:"form-control" }}
	  </div>
	  {% if form.minSize.errors %}
	  <div class="form-input-errors">
	      {% for msg in form.minSize.errors %}
	      <i>* {{ msg }} </i>
	      {% endfor %}
	  </div>
	  {% endif %}
	</div>

	<div class="controls">
	  <input class="btn btn-danger btn-block" type="submit" value="Start Clustering" />
	</div>
</form>

{% if clustered %}
<br><hr><br>

<div class="page-header col-xs-12 col-lg-12" style="margin-top:30px">
	<h2>Total Clusters: <span style="color:red;">{{ clusters }}</span> &nbsp&nbsp Unclustered Visits: {{ noise }}</h2>
	<br><br>
</div>

{% for cluster in cluster_list %}
<div id="accordion">
	<div class="card">
		<div class="card-header" id="heading{{ forloop.counter }}">
			<button class="btn line-cover-btn collapsed" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
				<h5 class="mb-0">
					Cluster no. {{ forloop.counter }} size: {{ cluster.size }}
				</h5>
			</button>
		</div>
		<div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
			<div class="card-body">
				<table class="table text-center">
					<thead>
						<tr>
							<th>X</th>
							<th>Y</th>
							<th>Date</th>
							<th>Case</th>
						</tr>
					</thead>
					{% for visit in cluster.visit_list %}
					<tr>
						<td>{{ visit.x }}</td>
						<td>{{ visit.y }}</td>
						<td>{{ visit.date }}</td>
						<td>{{ visit.caseNo }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endif %}

{% endblock %}

{% block index_button_new %}{% endblock %}