{% extends 'form.html' %}

{% load widget_tweaks %}

{% block title %}Reset Password | HotZone{% endblock %}

{% block form_card_title %}Please Input Your Reserved Email{% endblock %}

{% block form_card_form_body %}
{% csrf_token %}
<div class="input-group" style="margin-bottom: 25px">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
  </div>
  {{ form }}
</div>

<div class="controls">
  <input class="btn btn-danger btn-block" type="submit" value="Submit" />
</div>
{% endblock %}