{% extends 'form.html' %}

{% load widget_tweaks %}

{% block title %}Login | HotZone{% endblock %}

{% block form_card_title %}Wellcome to HotZone{% endblock %}

{% block form_card_form_body %}
<div class="input-group" style="margin-bottom: 25px">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp&nbspUsername</span>
  </div>
	{{ form.username | add_class:"form-control" }}
</div>

<div class="input-group" style="margin-bottom: 25px">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i>&nbsp&nbspPassword</span>
  </div>
  {{ form.password | add_class:"form-control" }}

</div>

<div class="input-group" style="margin-bottom: 25px;">
	<div class="mr-auto" style="float:left;margin-left: 10px">
		{{ form.remember_me }}
     <span style="font-size: 14px;font-weight: normal;">Remember Me</span>
  </div>
  <div class="ml-auto" style="float:right;margin-right: 10px">
    <a href="{% url 'reset_password' %}"><span style="font-size: 14px;font-weight: normal">Forget Password</span></a>
  </div>
</div>

<div class="controls">
  <input class="btn btn-danger btn-block" type="submit" value="Login" />
</div>
{% endblock %}