{% extends 'form.html' %}

{% load widget_tweaks %}

{% block title %}Reset Password | HotZone{% endblock %}

{% block form_card_title %}Enter Your New Password{% endblock %}

{% block form_card_form_body %}
<div class="input-group" style="margin-bottom: 25px">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i>&nbsp&nbspOld Password</span>
  </div>
	{{ form.oldpassword | add_class:"form-control" }}
</div>

<div class="input-group" style="margin-bottom: 25px">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i>&nbsp&nbspNew Password</span>
  </div>
	{{ form.newpassword1 | add_class:"form-control" }}
</div>

<div class="input-group" style="margin-bottom: 25px">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i>&nbsp&nbspConfirm Password</span>
  </div>
	{{ form.newpassword2 | add_class:"form-control" }}
</div>

<div class="controls">
  <input class="btn btn-danger btn-block" type="submit" value="Submit" />
</div>
{% endblock %}