{% extends 'base.html' %}

{% load static %}

{% block title %}Email Sent | HotZone{% endblock %}

{% block content %}
{{ block.super }}
<div class="page-header col-xs-12 col-lg-12 text-center" style="margin-top:30px">
	<img style="margin-top:50px; height:88px;" src="{% static '/assets/images/mail_icon.png' %}">
	<br><br>
	<h1>Confimation Email Sent</h1>
	<br>
	<p style="font-size: 18px">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
	<p style="font-size: 18px">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

</div>

{% endblock %}