{% extends 'index.html' %}

{% block title %}Patients | HotZone{% endblock %}

{% block index_header %}Patients{% endblock %}

{% block index_content %}
<h3>Total Patients: <span style="color:red;">{{ patient_list.all | length }}</span></h3>

<br>

<div class="data-filter">
	<form method="get" class="text-center">
	    <div>
			<span>Name: </span><input type="text" name="qname">
		</div>
		<div>
			<span>HKID: </span><input type="text" name="qid">
		</div>
		<input type="submit" value="Search">
	</form>
	<p>*Hint: Search (Except the date-related ones) work only when its content match the attribute value exactly. Extra Spaces at the beginnning or end are allowed.</p>
</div>

<br>

<table class="table text-center">
	<thead>
		<tr>
			<th>Name</th>
			<th>Identity #</th>
			<th>Date of Birth</th>
			<th>Operations</th>
		</tr>
	</thead>

	<tbody>
		{% for patient in patient_list %}
		<tr>
			<td>{{ patient.name }}</td>
			<td>{{ patient.identity }}</td>
			<td>{{ patient.birth }}</td>
			<td>
				<a href="{% url 'records:patient-edit' patient.pk %}">Edit&nbsp<i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
				&nbsp|&nbsp
				<a href="{% url 'records:patient-delete' patient.pk %}">Delete&nbsp<i class="fa fa-times" aria-hidden="true"></i></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block new_record_url %}{% url 'records:patient-new' %}{% endblock %}