<header class="navbar navbar-static-top navbar-inverse navbar-fixed-top navbar-expand-lg" role="navigation">

    <i class="navbar-brand" style="color:grey">HotZone</i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:homepage' %}">Home <span class="sr-only">(current)</span></a>
            </li>


    		<li class="nav-item dropdown">
    			<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records</a>
    			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="dropdown-item"><a href="{% url 'records:patients' %}">Patients</li>
                    <li class="dropdown-item"><a href="{% url 'records:viruses' %}">Viruses</a></li>
    				<li class="dropdown-item"><a href="{% url 'records:locations' %}">Locations</a></li>
                    <div class="dropdown-divider"></div>
                    <li class="dropdown-item">Cases</li>
    			</ul>
    		</li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clustering</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user.is_authenticated %}
                    <li class="dropdown-item">New Clustering</li>
                    <div class="dropdown-divider"></div>
                    {% endif %}
                    <li class="dropdown-item">Clusters</li>
                </ul>
            </li>

            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Console</a>
            </li>
            {% endif %}

    		{% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'customauth:logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbspLogout</a>
            </li>
    		{% else %}
    		<li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="fa fa-sign-in dropdown-item"><a href="{% url 'customauth:login' %}">&nbspStaff</a></li>
                    <li class="fa fa-sign-in dropdown-item"><a href="admin/">&nbspAdmin</a></li>
    			</ul>
            </li>
    		{% endif %}
        </ul>
    </div>
</header>