{% extends 'base.html' %}

{% load static %}

{% block content %}
{{ block.super }}
<div class="container" style="margin-bottom: 50px;">
	<div style="margin-top:50px;" >
  	<div class="customized-card card card-info">
      <div class="card-heading text-center" >
      	<img style="margin-top:50px; height:88px;" src="{% static '/assets/images/logo.png' %}">
        <div class="card-title" style="font-size: 25px;margin-top: 20px;font-weight: bold;">{% block form_card_title %}{% endblock %}</div>
      </div>
      <div style="padding-top:30px;" class="card-body" >
        {% block form_card_body %}
      	<form method="POST">
      		{% csrf_token %}

          {% block form_card_form_body %}{% endblock %}

        </form>
        {% endblock %}
      </div>
    </div>	
  </div>
</div>
{% endblock %}