{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}HotZone{% endblock %}

{% block content %}
{{ block.super }}
<div class="container" style="margin-bottom: 50px;">
	<div style="margin-top:50px;" >
  	<div class="card card-info" style="margin:0 auto; width:75%;">
      <div class="card-heading text-center" >
      	<img style="margin-top:50px; width:88px;" src="{% static '/assets/images/logo.png' %}">
        <div class="card-title" style="font-size: 18px;margin-top: 20px;font-weight: bold;">{% block form_card_title %}{% endblock %}</div>
      </div>
      <div style="padding-top:30px;" class="card-body" >
      	<form method="POST">
      		{% csrf_token %}

          {% block form_card_body %}{% endblock %}

        </form>
      </div>
    </div>	
  </div>
</div>
{% endblock %}