{% extends 'base.html' %}

{% block content %}
{{ block.super }}
<div class="page-header col-xs-12 col-lg-12" style="margin-top:30px">
	<h1>{% block index_header %}{% endblock %}</h1>
	<br><br>
</div>
<div class="col-xs-12 col-lg-12" style="margin-bottom:120px">
	{% block index_content %}{% endblock %}
</div>

{% block index_button_new %}
{% if user.is_authenticated %}
<div class="control" style="position:fixed;bottom:40px;right:50px;">
	<button type="button" class="btn btn-lg btn-danger btn-block"style="width:120%" onclick="location.href='{% block new_record_url %}{% endblock %}'">New</button>
</div>
{% endif %}
{% endblock %}

{% endblock %}