h1, h2, h3, h4{
  font-weight: bold;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  font-size: 16px;
}

a:hover,a:active{
  text-decoration: none;
}

/*navbar*/
.navbar-brand {
    padding: 0 15px;
}
.navbar{
  margin-bottom: 0px;

}

header.navbar{
  background: black !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 18px;
}

.nav > li > a{
  color: #FFFFFF !important;
  opacity: 0.6;
}

.nav>li{
  padding-top: 10px;
}

.dropdown-menu{
  min-width: 8rem;
}

@media screen and (max-width: 750px){
  .nav>li{
    padding-top: 0px;
  }
}

.nav > li > a:hover, .nav > li > a:focus{
  background-color: #000 !important;
  opacity: 1;
}

div.navbar-header{
  margin-top: 10px;
}
div.container-fluid{
  background-color: #000;
}

/* form */
.form-input{
  margin-bottom: 25px;
}
.form-input-errors{
  color:red;
}

/* index filter form */
.data-filter{
  margin-top:5px;
  margin-bottom:15px;
}

.data-filter p{
  color:#E22121;
  font-size:15px
}

.data-filter form{
  display:-webkit-flex;
  display:flex;
}

.data-filter form div{
  margin-right:10px;
}

/* button */
.line-cover-btn{
  width: 100%;
  text-align: left;
}

