{% extends 'index.html' %}

{% block title %}Viruses | HotZone{% endblock %}

{% block index_header %}Viruses{% endblock %}

{% block index_content %}
<h3>Total Viruses: <span style="color:red;">{{ virus_list.all | length }}</span></h3>

<br>

<div class="data-filter">
	<form method="get" class="text-center">
	    <div>
			<span>Name: </span><input type="text" name="qname">
		</div>
		<input type="submit" value="Search">
	</form>
	<p>*Hint: Search (Except the date-related ones) work only when its content match the attribute value exactly. Extra Spaces at the beginnning or end are allowed.</p>
</div>

<br>

<table class="table text-center">
	<thead>
		<tr>
			<th>Name</th>
			<th>Common Name</th>
			<th>Max. Infection Period (Days)</th>
			<th>Operations</th>
		</tr>
	</thead>

	<tbody>
		{% for virus in virus_list %}
		<tr>
			<td>{{ virus.name }}</td>
			<td>{{ virus.commonName }}</td>
			<td>{{ virus.maxPeriod }}</td>
			<td>
				<a href="{% url 'records:virus-edit' virus.pk %}">Edit&nbsp<i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
				&nbsp|&nbsp
				<a href="{% url 'records:virus-delete' virus.pk %}">Delete&nbsp<i class="fa fa-times" aria-hidden="true"></i></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block new_record_url %}{% url 'records:virus-new' %}{% endblock %}