{% extends 'form.html' %}

{% load widget_tweaks %}

{% block title %}Virus Create | HotZone{% endblock %}

{% block form_card_title %}New Virus{% endblock %}

{% block form_card_form_body %}
<div class="input-group" style="margin-bottom: 25px">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp&nbspName</span>
  </div>
	{{ form.name | add_class:"form-control" }}
</div>

<div class="input-group" style="margin-bottom: 25px">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-user-o" aria-hidden="true"></i>&nbsp&nbspCommon Name</span>
  </div>
	{{ form.commonName | add_class:"form-control" }}
</div>

<div class="input-group" style="margin-bottom: 25px">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp&nbspMax. Infection Period</span>
  </div>
	{{ form.maxPeriod | add_class:"form-control" }}
</div>

<div class="controls">
  <input class="btn btn-danger btn-block" type="submit" value="Save" />
</div>
{% endblock %}
