{% extends 'form.html' %}

{% load widget_tweaks %}

{% block title %}Location Create | HotZone{% endblock %}

{% block form_card_title %}New Location{% endblock %}

{% block form_card_body %}
<form action="{% url 'records:location-query' %}" method="POST">
  {% csrf_token %}
  <div class="form-input">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp&nbspName</span>
      </div>
    	{{ search_form.name | add_class:"form-control" }}
      <div class="input-group-append">
        <span class="input-group-text" style="height:40px;"><input class="btn" type="submit" value="Search" /></span>
      </div>
    </div>
    {% if search_form.name.errors %}
    <div class="form-input-errors">
        {% for msg in search_form.name.errors %}
        <i>* {{ msg }} </i>
        {% endfor %}
    </div>
    {% endif %}
  </div>
</form>

<form id="loc-selection-form" action="{% url 'records:location-create' %}" method="POST">
  {% csrf_token %}
  <div class="card card-info" style="margin-bottom: 25px;height:380px;">
    <div style="padding-top:10px;" class="card-body" >
      <div style="overflow:scroll;height:70px">
        <table class="table text-center">
          <thead>
            <tr class="d-flex">
              <th class="col-4">Name</th>
              <th class="col-4">Address</th>
              <th class="col-2">X</th>
              <th class="col-2">Y</th>
            </tr>
          </thead>
        </table>
      </div>
      <div style="overflow:scroll;height:280px">
        <table class="table text-center" id="option-table">
          <tbody>
            {% if dbloc_list %}
              <tr class="seperator-line">
                <td class="col-12">Related Records Already Exist.</td>
              </tr>
              {% for data in dbloc_list %}
              <tr class="d-flex db-info">
                <td class="col-4">{{ data.name }}</td>
                <td class="col-4">{% if data.address %}{{ data.address }}{% endif %}</td>
                <td class="col-2">{{ data.XCoord }}</td>
                <td class="col-2">{{ data.YCoord }}</td>
              </tr>
              {% endfor %}

              {% if data_list %}
              <tr class="d-flex db-info" align="left">
                <td class="col-12"><a href="{% url 'records:locations' %}" style="color:red;"><i class="fa fa-backward" aria-hidden="true"></i>&nbspBack</a></td>
              </tr>
              <tr>
                <td class="col-12"><br></td>
              </tr>
              <tr class="seperator-line">
                <td class="col-12">Continue To Add New Records.</td>
              </tr>
              {% endif %}
            {% elif data_list %}
              <tr class="seperator-line">
                <td class="col-12">No Existing Record. Please Add New One.</td>
              </tr>
            {% endif %}

            {% for data in data_list %}
              <input type="radio" id="radio-opt-{{forloop.counter}}" name="location" value="{{ data }}" style="display:none;">
              <tr class="d-flex clickable-row" id="row-opt-{{forloop.counter}}">
                <td class="col-4">{{ data.name }}</td>
                <td class="col-4">{% if data.address %}{{ data.address }}{% endif %}</td>
                <td class="col-2">{{ data.XCoord }}</td>
                <td class="col-2">{{ data.YCoord }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>  
  </div>

  <div class="controls">
    <input class="btn btn-danger btn-block" type="submit" value="Save" />
  </div>
</form>
{% endblock %}

{% block extra_styles %}
<style>
  .seperator-line {
    background-color:#C9C8C8;
    font-weight:bold
  }
  .db-info {
    background-color:#F0F0F0;
  }
  .active {
    background-color:#E0E0E0;
  }
  .hover {
    background-color:#F0F0F0;
  }
</style>
{% endblock %}

{% block bootstrap4_extra_script %}
{{ block.super }}
<script type="text/javascript">
$('#option-table').on('click', '.clickable-row', function(event) {
  $(this).removeClass('hover');
  $(this).addClass('active').siblings().removeClass('active');

  var rowId = $(this).attr('id');
  var optIdx = rowId.substr(rowId.indexOf("-"));
  var radioId = "radio" + optIdx;
  $("#"+radioId).prop("checked",true);
});

$('#option-table').on('mouseenter', '.clickable-row', function(event) {
  if (!$(this).hasClass('active')) {
    $(this).addClass('hover');
  }
}).on('mouseleave', '.clickable-row', function(event) {
  if (!$(this).hasClass('active')) {
    $(this).removeClass('hover');
  }
});
</script>
{% endblock %}
